body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main,
.main__container {
  display: flex;
  flex-direction: column;
}

.main__header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.main__container__content {
  width: 90%;
  display: flex;
  margin: 2rem auto;
}

.main__container__content__cell {
  width: 50%;
  height: 50vh;
  outline: 1px solid black;
  overflow-y: scroll;
  overflow-x: scroll;
}

.main__container__content__cell__row {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 1.25rem 0.75rem;
}
